* {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #f08040;
}

html {
  font-size: 62.5%; /* 16px * 62.5% = 10px =1rem */
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header' 
    'main' 
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

header a {
  color: #ffffff;
  font-weight: bold;
}

.logo a {
  font-size: 3rem;
}

.cart, .signin {
  font-size: 3rem;
  margin-right: 2rem;
}

footer {
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: .5rem;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.products li {
  flex: 0 1 30rem;
  height: 42rem;
  margin: 1rem 1rem 0 1rem;
  border-top: .2rem solid #e0e0e0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2rem;
}

/* Rating */
.rating {
  color: #ffc000;
  font-size: 1.8rem;
}

.rating span:last-child{
  color: #444444;
  font-size: 1.4rem;
}